h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

h2 {
    margin-left: 50px;
    margin-right: 50px;
    font-weight: lighter;   
    text-align: center;
    color: rgb(255, 255, 255);
}

h3 {
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(255, 255, 255);
}

h4 {
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(255, 255, 255);
}

h5 {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 15px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 14px;;
    color: rgb(255, 255, 255);
}

li {
    margin-left: 55px;
    margin-right: 50px;
    font-size: 14px;
}

nav {
    background-color: #009dff;
    padding : 13px;
    color: rgb(255, 255, 255);
    display:flex;
    align-items: center;
    font-size-adjust: auto;
    gap: 8px;
}

input[type="search"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin-left:auto;
}

button[type="button"] {
    background-color: #ffffff;
    color: #009dff;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}



body {
  background-color: #0595ee;
  color: #ffffff;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    min-width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #009dff;
    margin-top: auto;
    text-align: center;
    padding-top: 20px;
    border-radius: 5px;
    justify-self: flex-end;
}

a {
    color: rgb(255, 255, 255);   
    text-decoration: none;
    font-weight: bold;
}

form {
    margin-left: 50px;
    margin-right: 50px;
}

textarea {
    width: 95%;
    height: 200px;
    padding : 10px;
    background-color: #009dff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"] {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #009dff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

::placeholder {
    color: rgb(238, 238, 238);
}

input[type="submit"] {
    background-color: #009dff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

label {
    color : #ffffff;    
    font-size: 18px;
    font-weight: semi-bold;
}

section {
    background-color: #009dff;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}