body {
  background-color: #0e0e0e;
  color: #ffffff;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    min-width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

h2 {
    font-weight: lighter;   
    text-align: center;
}

h3 {
    margin-left: 50px;
    margin-right: 50px;
}

h4 {
    margin-left: 50px;
    margin-right: 50px;
}

h5 {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 15px;
    font-weight: lighter;
}

p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 14px;
}

li {
    margin-left: 55px;
    margin-right: 50px;
    font-size: 14px;
}

nav {
    background-color: #1c1c1c;
    padding: clamp(12px, 3vw, 32px);
    padding : 20px;
    color: rgb(255, 255, 255);
    display:flex;
    align-items: center;
    font-size-adjust: auto;
    gap: 8px;
}

a {
    color: rgb(255, 255, 255);   
    text-decoration: none;
    padding: auto;
    font-weight: bold;
    text-align: middle;
}

footer {
    background-color: #1c1c1c;
    margin-top: auto;
    text-align: center;
    padding-top: 20px;
    border-radius: 5px;
    justify-self: flex-end;
}

section {
    background-color: #1c1c1c;
    color: #dedede;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1c1c1c;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader.hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #ffffff;
  border-top-color: #009dff;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}