h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

h2 {
    margin-left: 50px;
    margin-right: 50px;
    font-weight: lighter;   
    text-align: center;
    color: rgb(255, 255, 255);
}

h3 {
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(255, 255, 255);
}

h4 {
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(255, 255, 255);
}

h5 {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 15px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
}

p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 14px;;
    color: rgb(255, 255, 255);
}

li {
    margin-left: 55px;
    margin-right: 50px;
    font-size: 14px;
}

nav {
    background-color: #009dff;
    padding : 13px;
    color: rgb(255, 255, 255);
    display:flex;
    align-items: center;
    font-size-adjust: auto;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#navSearch {
    width: 100%
}

.search-bar {
    /* width: 30%; */
    /* margin-left:auto; */
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    max-width: 300px;
}

input[type="search"] {
    padding: 5px;
    border-radius: 5px;
    border: 0;
    font-size: 14px;
    cursor: pointer;
}

button {
    background-color: #ffffff;
    color: #009dff;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}



body {
  background-color: #0595ee;
  color: #ffffff;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    min-width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #009dff;
    margin-top: auto;
    text-align: center;
    padding-top: 20px;
    border-radius: 5px;
    justify-self: flex-end;
}

a {
    color: rgb(255, 255, 255);   
    text-decoration: none;
    font-weight: bold;
}

form {
    margin-left: 50px;
    margin-right: 50px;
}

textarea {
    width: 95%;
    height: 200px;
    padding : 10px;
    background-color: #009dff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"] {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #009dff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

::placeholder {
    color: rgb(238, 238, 238);
}

input[type="submit"] {
    background-color: #009dff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

label {
    color : #ffffff;    
    font-size: 18px;
    font-weight: semi-bold;
}

section {
    background-color: #009dff;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1c1c1c;
  transition: opacity 1.75s, visibility 0.75s;
}

.loader.hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #ffffff;
  border-top-color: #009dff;
  border-radius: 50%;
  animation: loading .75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
    a {
        font-size: 15px;
    }
    #navSearch {
        font-size: 13px;
    }
    .search-bar {
        flex-grow: 1;
    }
}

  @media (max-width: 530px) {
    a {
        font-size: 13px;
    }
}

  @media (max-width: 473px) {
    a {
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    a {
        font-size: 10px;
    }
}